body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


hr {
    border: 0;
    display: block;
    width: 100%;
    height: 1px;

    margin: 40px 0;
    background-color: #e5e5e5;
}




/* container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
/* intro */
.intro {
    /* to center child elements
    titles */
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;

    background: url("./images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}
.intro__inner {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.intro__uptitle {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 72px;
    color: #fff;
}
.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: #fff;
}

/* header */
.header {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    z-index: 1000;
}
.header.fixed {
    padding: 10px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #eb8b8d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0,0,0);
}

.header.active {
    background-color: #eb8b8d;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* nav */
.nav {

    font-size: 14px;
    text-transform: uppercase;
    align-items: center;
}

.nav__link {
    display: inline-block;
    vertical-align: top;


    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;

    transition: color 0.2s linear;
}
.nav__link:after{
    content: "";
    opacity: 0;
    background-color: #fce38a;
    border-radius: 10px;
    width: 100%;
    height: 3px;

    /* position absolute = position relative
    to parent element*/
    position: absolute;

    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.2s linear;
}
.nav__link i {
    line-height: 1.7;
}
.nav__link:hover:after {
    opacity: 1;
}
.nav__link:hover {
    color: #fce38a;
}

/* nav burger */

.nav-toggle {
    display: none;
    width: 30px;
    padding: 10px 0;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;

    cursor: pointer;
    border: 0;
    background: none;
}

.nav-toggle__item {
    color: transparent;
    font-size: 0;

    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: background .2s linear;
}
.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;

    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}
.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0);
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

/* Button */
.btn {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;

    padding: 10px 30px;

    color: #fff;
    border: 3px solid #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color .2s linear, color .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #ccb668;
}

/* Slider */

.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0%;
    z-index: 1;
}
.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    font-size: 18px;
    opacity: 0.7;
    width: 23%;
    padding: 20px 0;
    color: #fff;
    text-transform: uppercase;
    border-top: 3px solid #fff;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}
.slider__item.active {
    opacity: 1;
    position: relative;
}
.slider__item.active:before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    height: 3px;
    width: 70px;
    background-color: #f38181;
}


/* section */
.section {
    padding: 80px 0;
}

.section--grey {
    background-color: #f8f8f8;
}

.section--devices {
    padding-bottom: 0;
    background: url("./images/devices-bg.jpg") center no-repeat;
    -webkit-background-size:  cover;
    background-size: cover;
    margin-bottom: 40px;
}
.section--clients {
    background: url("./images/clients-bg.jpg") center no-repeat;
    -webkit-background-size:  cover;
    background-size: cover;
}

.section--map {
    background: url("./images/map-bg.jpg") center no-repeat;
    -webkit-background-size:  cover;
    background-size: cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section__uptitle {
    font-family: 'Kaushan Script', cursive;
    font-weight: 700;
    font-size: 24px;

    color: #333;

}
.section__title {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #333;
}
.section__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;

    line-height: 1.7;
}

.section__title:after {
    content: "";
    display: block;
    height: 3px;
    width: 65px;
    background-color: #f38181;
    margin: 30px auto;
}

/* card */

.card {
    margin: 60px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
    background-color: #95e1d3;
    position: relative;
}
.card__inner:hover .card__image {
    transform: translate3d(-10px, -10px, 0);
}
.card__inner:hover .card__image img{
    opacity: .1;
}
.card__image {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}
.card__image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity .2s linear;
}
.card__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity 0.2s linear;
}
.card__inner:hover .card__text {
    opacity: 1;
}

.card__info {
    margin-top: 30px;
    text-align: center;
}

.card__name {
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
}
.card__prof {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;

}


/* Statistics */
.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.statistics__item {
    /* for five equal boxes */
    flex: 1 1 0;

    padding: 70px 25px;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
}
.statistics__item:last-child {
    border-right: 1px solid #b5eae0;
}
.statistics__num {
    font-size: 72px;
    font-weight: 700;
}
.statistics__text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}



/* services */

.services {
    display: flex;
    flex-wrap: wrap;
}
.services__item {
    width: 33.3333%;
    margin-bottom: 40px;
    position: relative;
    padding: 0 35px 40px 90px;
}
.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}
.services__icon {
    position: absolute;
    top: 5px;
    left: 28px;
    z-index: 1;
}
.services__title {
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 10px;
}
.services__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}

/* devices */

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
.devices__item {
    display: block;
    max-width: 100%;
    height: auto;
}

.devices__item--iphone {
    position: absolute;
    right: 0;
    bottom: -60px;
}


/* what we do */

.wedo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.wedo__item {
    width: 50%;
    padding: 0 15px;
}
.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* accordion */

.accordion__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accordion__item.active .accordion__content {
    display: block;
}

.accordion__header {
    padding: 15px 15px 15px 60px;
    position: relative;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion__item.active .accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.accordion__title {
    text-transform: uppercase;
    font-size: 14px;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    margin-top: -5px;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.accordion__item.active .accordion__header:after {
    transform: rotate(-45deg);
}

.accordion__content {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
    padding: 15px 50px 15px 15px;

    display: none;
}


/* reviews */
.reviews {
    padding: 0 110px;
}
.reviews__item {
    padding-left: 250px;
    position: relative;
}
.reviews__photo {
    width: 210px;
    height: 210px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    border: 2px solid #95e1d3;
    border-radius: 50%;
}

.reviews__text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;

    margin-bottom: 10px;
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    width: 60px;
    margin-right: 10px;
    background-color: #f38181;
}

/* Socials */

.social {
    display: flex;
    justify-content: center;
}
.social__item {
    text-decoration: none;
    font-size: 26px;
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    color: #f38181;
    padding: 12px 10px;
    line-height: 1;

    border-right: 1px solid #f9bd87;

    transition: background-color .1s linear,
    color .1s linear;
}
.social__item:last-child {
    border-right: none;
}
.social__item:hover {
    background-color: #f38181;
    color: #fff;
}


/* logos */

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
}
.logos__item {
    padding: 0 15px;
}
.logos__img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* works */

.works {
    display: flex;
}
.works__col {
    flex: 1 1 0;
}
.works__item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__photo {
    max-width: 100%;
    height: auto;
    display: block;

    transition: opacity .2s linear;
}

.works__item:hover .works__photo {
    opacity: .1;
}
.works__item:hover .works__info {
    opacity: 1;
}
.works__info {
    text-align: center;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    color: #fff;

    opacity: 0;
    transition: opacity .2s linear;
}

.works__title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.works__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}


/* clients */

.clients {
    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    width: 50%;

    padding: 0 45px 0 175px;
    position: relative;

    margin-bottom: 65px;
}

.clients__photo {
    width: 110px;
    height: 110px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 5px;
}

.clients__prof {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #333;
    margin-bottom: 15px;
}

.clients__prof:after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background-color: #f38181;
    margin-top: 12px;
}

.clients__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}


/* blog */

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}
.blog__item {
    width: 31%;
    padding: 0 15px;
}

.blog__header {
    position: relative;
}
.blog__photo {
    width: 100%;
    height: auto;
}
.blog__date {
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;

    background-color: #95e1d3;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    padding: 10px 15px;
}

.blog__date-day {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}

.blog__title {
    margin: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.blog__title a {
    color: inherit;
    text-decoration: none;
}

.blog__title a:hover {
    text-decoration: underline;
}
.blog__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.blog__footer {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.blog__footer i {
    color: #95e1d3;
    margin-right: 3px;
}

.fa-comment-dots {
    margin-left: 15px;
}



/* map */

.map {
    text-align: center;
}

.map__title {
    color: #f38181;
    text-transform: uppercase;
}
.map__title a {
    text-decoration: none;
    color: inherit;
}

.map__title:after {
    content: "";
    display: block;
    height: 3px;
    width: 65px;
    background-color: #f38181;
    margin: 10px auto 0;
}

/* footer */

.footer {
    background-color: #f8f8f8;
    padding-top: 70px;
}
.footer__inner {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__col--big {
    width: 40%;
}
.footer__col--medium {
    width: 29%;
}
.footer__col--small {
    width: 22%;
}
.footer__logo {
    font-weight: 700;
    font-size: 46px;
    color: #ccc;
}
.footer__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
    margin: 30px 0;
}
.footer__social {
    margin-bottom: 30px;
}
.footer__social-header {
    color: #333;
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.footer__social-header b{
    font-size: 18px;
}
.footer__social-content {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    margin-top: 10px;
}

.footer__social-content a {
    margin-left: 10px;
    display: inline-block;
    font-size: 18px;
    color: #95e1d3;
}
.footer__title {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    margin: 30px 0;

}

/* blogs */

.blogs__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.blogs__content {
    padding-left: 20px;
}

.blogs__title {
    display: block;
    font-size: 12px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}


/* instagram */
.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.instagram__item {
    width: 33%;
    border-bottom: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
}
.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;

}
.insagram__link {
    margin-top: 15px;
    text-decoration: none;
    /* display: block; */
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    color: #333;
}
.insagram__link:hover {
    text-decoration: underline;
}
/* subscribe */

.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__email {
    width: 60%;
    height: 40px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    padding: 12px;
}


.subscribe__email::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #ccc;
}
.subscribe__btn {
    width: 40%;
    padding: 0 32px;
    height: 40px;
    border: 0;
    background-color: #95e1d3;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;


    transition: background .2s linear,
    color .2s linear;
}

.subscribe__btn:hover {
    background-color: #f8f8f8;
    color: #95e1d3;
}
/* copyright */
.copyright {
    padding: 20px 0;
    text-align: center;
    color: #333;
}
.copyright span {
    color: #f38181;
}

@media (max-width: 1230px) {
    /* intro */
    .intro__title {
        font-size: 120px;
    }
    .intro__uptitle {
        font-size: 52px;
    }
    /* reviews */
    .reviews__text {
        font-size: 20px;
    }
}

@media (max-width: 990px) {
    /* intro */
    .intro__title {
        font-size: 80px;
    }
    .intro__uptitle {
        font-size: 32px;
    }
    /* statistics */
    .stat {
        justify-content: center;
    }
    .statistics__item {
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #b5eae0;
        flex: none;
        width: 33.3333%;
    }

    /* services */

    .services__item {
        width: 50%;
        padding-bottom: 0;
    }
    .services__item--border {
        border-bottom: 0;
    }
    /* we do */
    .wedo {
        justify-content: center;
    }
    .wedo__item {
        width: 100%;
    }
    .wedo__img {
        display: none;
    }

    /* reviews */
    .reviews {
        padding: 0 30px;
    }
    .reviews__photo {
        height: 150px;
        width: 150px;
    }
    .reviews__item {
        padding-left: 175px;
    }

    /* footer */
    .footer__col--big  {
        width: 100%;
    }
    .footer__col--medium, .footer__col--small {
        width: 50%;
    }

    /* instagram */
    .instagram {
        justify-content: flex-start;
    }
    .instagram__item {
        width: auto;
    }
}

@media (max-width: 770px) {
    /* intro */
    .intro {
        min-height: 650px;
    }

    /* header  */
    .header {
        padding: 10px 0;
    }

    /* navigation */
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #eb8b8d;
    }
    .nav.active {
        display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 5px 20px;
    }
    .nav-toggle {
        display: block;
    }

    /* slider */
    .slider__text {
        display: none;
    }

    .slider__item.active:before {
        width: 50%;
    }

    /* section */
    .section {
        padding: 40px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }
    /* card */
    .card {
        margin-top: 50px;
        justify-content: center;
    }
    .card__item {
        margin-bottom: 30px;
        width: 100%;
        max-width: 410px;
    }
    .card__item:last-child {
        margin-bottom: 0;
    }
    /* services */
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 55px;
        padding-right: 0;
    }
    .services__icon {
        left: 0;
    }
    /* reviews */
    .reviews__photo {
        display: block;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        position: static;
        transform: none;
    }
    .reviews__item {
        padding-left: 0;
    }
    .reviews__text {
        font-size: 16px;
    }
    .reviews__author {
        font-size: 20px;
    }

    /* works */
    .works {
        flex-wrap: wrap;
    }
    .works__col {
        flex: none;
        width: 50%;
    }

    /* clients */
    .clients__item {
        width: 100%;
    }

    /* blog */
    .blog {
        justify-content: center;
    }
    .blog__item {
        margin-bottom: 20px;
        width: 50%;
    }
}


@media (max-width: 575px) {

    .intro__title {
        font-size: 40px;
    }
    .intro__uptitle {
        font-size: 22px;
    }

    /* section */

    .section__header {
        margin-bottom: 50px;
    }
    .section__title {
        font-size: 24px;
    }
    .section__uptitle {
        font-size: 20px;
    }

    .section__title:after {
        margin: 20px auto;
    }

    /* statistics */
    .statistics__item {
        width: 100%;
        padding: 30px 5px;
    }
    .statistics__num {
        font-size: 55px;
    }

    /* devices */

    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        max-width: 180px;
        right: -15px;
        bottom: -50px;
    }
    /* reviews */
    .reviews {
        padding: 0;
    }

    /* logos */
    .logos {
        flex-wrap: wrap;
        justify-content: center;
    }
    .logos__item {
        width: 50%;
        margin-bottom: 10px;
    }
    .logos__img {
        margin: 0 auto;
    }

    /* works */
    .works__col {
        width: 100%;
    }

    /* clients */

    .clients__item {
        width: 100%;
        padding-left: 130px;
    }
    .clients__photo {
        left: 10px;
    }

    /* blog */
    .blog__item {
        width: 100%;
    }

    /* footer  */
    .footer__col {
        width: 100%;
    }
}